extends layout.pug

block content
    main 
        section
            h1 Main Page
            p We believe innovation drives progress. Since our founding, we've been dedicated to delivering cutting-edge solutions that simplify lives, empower businesses, and shape the future. Whether you're a global enterprise or a local startup, we're here to help you achieve your goals with tools that inspire confidence and creativity.
